{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="container col center">
        <h1>Page d'accueil</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae beatae iste. Accusamus id quo 
           dicta atque architecto dolorum voluptatibus deserunt quis quidem debitis nesciunt voluptates eum 
           perferendis nam itaque quam sit illum, obcaecati impedit est facere temporibus placeat aliquam? Ab iste 
           debitis neque labore. Ipsum tenetur eum enim fuga asperiores, sed illo amet temporibus sit, nam debitis? Iste 
           delectus vero dolorem dicta vitae quos voluptatum unde! Adipisci ullam pariatur assumenda commodi dolore fuga 
           enim consectetur, ipsam similique accusamus earum, doloremque quae autem libero.
        </p>
    </section>
{% endblock %}
