{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <section class="container col center">
        <h1>Créer un compte</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">Retour à la liste</a>
    </section>
{% endblock %}
